.row{
    display: flex;
    gap: 10px;
  
}
.input{
 padding: 10px;
    width: 48%;
}
.input2{
    width: 48%;
}
.dropdown{
    width: 48%;
}
.action{
padding: 0px 25px 20px;

}
button{
    width: 45%;
    margin-left: 10px;
}
