<!-- <div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link" routerLink="/left" routerLinkActive="active">Left</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/right" routerLinkActive="active">Right</a>
            </li>
        </ul>
    </div>
</div> -->

<!-- input method -->
<!-- Parent component -->

<!-- 
<div class="container text-center">
    <div class="row align-items-start">
        <div class="col">
            parent component
            <app-right></app-right>

            
        </div>

        <div class="col">
            child component
        </div>
    </div>
</div> -->



<div class="container" style="display:flex;justify-content: center;align-items: center; margin-top:5%;">
    <div class="row login">
        <h2 class="header">Login</h2>

        <form [formGroup]="loginform" (ngSubmit)="login()" novalidate>
            <div class="col-12" style="display: flex;justify-content: center;">
                <mat-form-field>
                    <mat-label>First name</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <!-- <div class="col-12" style="display: flex;justify-content: center;"> -->

            <div _ngcontent-yrx-c17 class="col-6" style="display: flex; margin-left:25%;">
                <mat-form-field>
                    <mat-label>Enter your password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'">
                    <button class="pwd" mat-icon-button matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
            </div>
            <div class="col-12" style="margin-left: 25%;">

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="email" class="email" matInput [formControl]="emailFormControl"
                        placeholder="Ex.sheik@gmail.com">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <span git style="color: red;" *ngIf="useronvalid">Invalid Username,Please enter the value</span>
            </div>
            <div style="display:flex;justify-content: center;">
                <button mat-flat-button color="primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<router-outlet></router-outlet>